---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@layouts/Header.astro";
import type { TitleStyles } from "types";
import GreenWavyBlock from "@layouts/GreenWavyBlock.astro";
import { SERVICES } from "@config";
import Card from "@components/Card.astro";
import image1 from "@assets/indy.jpg";
import image2 from "@assets/octo.png";

const pageTitle: TitleStyles[] = [
    { text: "Therapy", style: "serif" },
    { text: "Services", style: "display" },
];
const pageDesc =
    "Learn about our tailored services aimed at honoring the strengths and meeting the unique requirements of every individual.";
const image1AltText = "image1 alt text";
const image2AltText = "image2 alt text";
const servicesTitle = "Individualized Approaches to Suit Your Needs";
const servicesContent =
    "Roots of Possibility offers comprehensive therapy services, including specialized care for children, adolescents, and young adults. We provide expert support for trauma, self-harm, and attachment issues, with a dedicated focus on LGBTQIA+ and neurodiverse populations. Our compassionate human-animal team is here to help you and your loved ones achieve emotional well-being and personal growth.";
const listItems = [
    "Dialectical Behavioral Therapy (DBT) - pursuing a “life worth living” by learning to tolerate distress, reducing maladaptive (unhealthy) coping skills by building adaptive (healthy) strategies to manage emotions and behaviors. DBT also has a strong foundation in self-respect and boundary cultivation.",
    "Acceptance and Commitment Therapy (ACT) - based on the idea of creating a meaningful and enjoyable life, and working through inevitable hard times and struggles, while grounding in our values and self-compassion.",
    "Motivational Interviewing (MI) - affirming your existing strengths and innate abilities to overcome your problems through client-clinician collaboration, while centering your autonomy.",
    "Solution-Focused Brief Therapy (SFBT) - goal-directed, solution-oriented, and built around the goal of one day no longer needing therapy.",
    "Narrative Therapy - honoring your story and role as the expert of your own life and experiences, driven by a sense of purpose and aiming to help you see your problems as external, rather than reflecting them inwards and amplifying distress.",
];
---

<Layout title="Roots of Possibility | Therapy Services">
    <Main>
        <Header pageTitleWords={pageTitle} pageDesc={pageDesc} />
        <GreenWavyBlock>
            <div
                class="flex flex-col-reverse lg:flex-row items-center justify-center gap-x-16 gap-y-8 p-4 sm:px-16 xl:px-32 2xl:px-64 overflow-hidden"
            >
                <div class="w-1/2 lg:w-1/4 relative mt-12">
                    <Image
                        src={image1}
                        alt={image1AltText}
                        class="border border-none rounded-2xl relative z-10"
                    />
                    <Image
                        src={image2}
                        alt={image2AltText}
                        class="w-1/2 border border-none rounded-xl absolute z-20 -bottom-12 -right-12 lg:-top-12 lg:-left-12"
                    />
                </div>
                <div class="w-full lg:w-2/3">
                    <h2 class="text-center my-8">{servicesTitle}</h2>
                    <p set:html={servicesContent} />
                </div>
            </div>
        </GreenWavyBlock>
        <div
            class="flex flex-wrap justify-center gap-8 xl:gap-16 relative z-30 p-4 md:px-8 xl:px-10 2xl:px-48"
        >
            {
                SERVICES.map((service) => (
                    <Card
                        title={service.title}
                        description={service.description}
                        buttonLink={service.buttonLink}
                        imagePath={service.imagePath}
                        altText={service.altText}
                        bgColor="bg-secondary"
                        textColor="text-base-100"
                        buttonColor="primary"
                        buttonText="Learn More"
                    />
                ))
            }
        </div>
        <div class="mt-8 p-4 sm:px-16 xl:px-48 2xl:px-64">
            <h2 class="text-center">A Note About Modalities</h2>
            <p>
                In the context of therapy, "modalities" refers to the different approaches or methods used by therapists to address psychological or emotional issues in their clients. The evidence-based practices I incorporate include:
            </p>
            <ul class="mb-4 ml-5">
                {listItems.map(item => <li class="service-list-item">{item}</li>)}
            </ul>
        </div>
    </Main>
</Layout>

<style>
    .service-list-item {
        @apply my-2 even:list-image-leafLight odd:list-image-leafDark;
    }
</style>
