---
import { Image } from "astro:assets";
import { PSYCHOLOGYTODAY, INSTAGRAM, LINKEDIN } from "@config";
import psychologyToday from "@assets/logos/psychology-today.svg";
import logoWhite from "@assets/logo-white.png";
---

<footer class="-mb-8">
    <svg viewBox="0 500 900 75" class="mt-12 w-full"
        ><path
            d="M0 532L37.5 526.7C75 521.3 150 510.7 225 505.3C300 500 375 500 450 508.7C525 517.3 600 534.7 675 534.7C750 534.7 825 517.3 862.5 508.7L900 500L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z"
            fill="#3A5A40"
            stroke-linecap="round"
            stroke-linejoin="miter"></path></svg
    >
    <div
        class="bg-secondary text-base-100 text-2xl flex flex-wrap lg:flex-nowrap justify-center gap-y-8 px-8 md:px-16 2xl:px-48 pb-16"
    >
        <div class="order-1 lg:order-2 w-full md:w-5/12 lg:w-1/6">
            <a
                href="/"
                class="logo whitespace-nowrap"
                title="home"
                aria-label="home"
            >
                <Image
                    src={logoWhite}
                    alt="roots of possiblity logo"
                    class="w-24 mx-auto"
                />
            </a>
        </div>
        <div
            class="footer-menu order-2 lg:order-1 w-full md:w-1/2 lg:w-5/12 flex gap-16 lg:gap-18 xl:gap-32 max-md:justify-center"
        >
            <div>
                <h3>Practice</h3>
                <ul class="text-2xl">
                    <a href="/about">
                        <li>About Julia</li>
                    </a>
                    <a href="/philosophy">
                        <li>Philosophy</li>
                    </a>
                    <a href="/faq">
                        <li>FAQ</li>
                    </a>
                    <a href="/resources">
                        <li>Resources</li>
                    </a>
                </ul>
            </div>
            <div>
                <h3>Services</h3>
                <ul class="text-2xl">
                    <a href="/services/children">
                        <li>Therapy for Children</li>
                    </a>
                    <a href="/services/adolescents">
                        <li>Therapy for Adolescents</li>
                    </a>
                    <a href="/services/young-adults">
                        <li>Therapy for Young Adults</li>
                    </a>
                    <a href="/services/animal-assisted">
                        <li>Animal Assisted Therapy</li>
                    </a>
                    <a href="/services/trauma">
                        <li>Trauma Therapy</li>
                    </a>
                    <a href="/services/attachment">
                        <li>Attachment Therapy</li>
                    </a>
                    <a href="/services/self-harm">
                        <li>Self-Harm Therapy</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="order-3 w-full lg:w-5/12">
            <h3 class="text-center mb-8">Connect with Roots of Possibility</h3>
            <div
                class="flex flex-wrap md:max-xl:flex-nowrap justify-center gap-16"
            >
                <a
                    href={PSYCHOLOGYTODAY.href}
                    target="_blank"
                    rel="noopener noreferrer"
                    ><Image
                        src={psychologyToday}
                        alt="psychology today logo"
                        width={150}
                    /></a
                >
                <a
                    href={INSTAGRAM.href}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg width="30" height="30" viewBox="0 0 24 24"
                        ><path
                            d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
                            fill="#F6F6F3"></path></svg
                    ></a
                >
                <a
                    href={LINKEDIN.href}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        viewBox="0 0 24 24"
                        ><path
                            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                            fill="#F6F6F3"></path></svg
                    ></a
                >
            </div>
        </div>
    </div>
</footer>
<div
    class="footer-info bg-secondary text-base-100 text-xl flex flex-col md:flex-row items-center justify-between px-8 py-4"
>
    <div class="order-2 md:order-1">&copy 2024 Roots of Possiblity, PLLC</div>
    <div class="order-3 md:order-2">
        Website by <a href="https://julianecassidy.com">Juliane Cassidy</a>
    </div>
    <div class="order-1 md:order-3 max-md:mb-4">
        <a href="/privacy-policy">Privacy Policy</a> &nbsp;&nbsp; <a
            href="/terms-of-service">Terms of Service</a
        >
    </div>
</div>

<style>
    .footer-menu a,
    .footer-info a {
        @apply text-base-100 hover:underline;
    }

    .footer-info a {
        @apply underline;
    }
</style>
